
.dayInfoContainer.month{
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #8687aa;
    height: 13.99vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.DayHeader{
    display: flex;
    justify-content: space-between;
}

.DayHeader img:hover{
    cursor: pointer;
}

.sessionInfo{
    background: #535277;
    color: white;
    border-radius: 5px;
    padding: 3px;
    
    position: sticky;
    z-index: 3;
}
.dayInfoContainer.month .sessionInfo{
    max-height: 25px;
}
.sessionInfo small{
    overflow: hidden;
}

.sessionInfo:hover{
    cursor: pointer;
}

.dayInfoContainer.week{
    box-sizing: border-box;
    width: 100%;
    border-right: solid 1px #8687aa;
    border-bottom: solid 1px #8687aa;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6,100px);
}
.dayInfoContainer.week> div{
    height: 100%;
    padding: 0px 5px 0px 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20px 1fr;
    transition: background 0.1s ease-in-out; 
}

.dayInfoContainer.week div:hover{
    background: #535277;  
    transition: background 0.2s ease-in-out; 
}

.dayInfoContainer.week .sessionInfo{
    background: #535277;
    color: white;
    border-radius: 0px;
}

.dayInfoContainer.week .session:hover{
    cursor: pointer;
    background: none;
}


.dayInfoContainer.week .sessionInfo.Mesa{
    font-size: 10px;
}
.dayInfoContainer.week .sessionInfo.Mesa:hover{
    background: #476486;
}

.dayInfoContainer.week .sessionInfo.Mesa.empty{
    background: none;
    color: black;
}
.dayInfoContainer.week .sessionInfo.Mesa.empty:hover{
    background: #476486;
    color: white;
}