.OptionConatiner{
    display: flex;
    flex-direction: column;
    gap: 5px;
    animation: ShowUp both 0.7s ease-in-out;
    width: 80vw;
}

.OptionConatiner input{
    height: 25px;
    border: solid 2px;
    padding: 3px;
    font-size: 16px;
    width: 100%;
}
.OptionConatiner label{
    font-size: 18px;
}
.OptionConatiner button{
    padding: 5px;
    font-size: 15px;
    width: 50%;
    border-radius: 5px;
}

@keyframes ShowUp {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform:  translate(0px);
    }
    
}